.box .social-links li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 30px;
    color: #808080;
    text-align: center;
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
}

.input-number{
    width:45px;
}

#flex-btn-product{
    display: flex;
    justify-content: space-between;

}
